/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}
header {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    /*background-color: #1B1B1B;*/
    background: url("../img/noise2.png") ;
    overflow: hidden;

}
.home {
    width: 1320px;
    display: block;
    color: #F1F1F1;
    height: 100%;
    margin: 0 auto; 
}

/*.home div {
    margin-left:    120px;
    margin-right:   120px;
}*/

#video-background {
/*  making the video fullscreen  */
    position: absolute;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
/*    z-index: -100;*/

    opacity: .1;
}

.home h1 {
    text-transform: uppercase;
    text-align: right;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 7em;
    padding-top: 50px;

}
.home p {
    width: 910px;
    font-size: 1.25em;
    float: right;

    text-align: right;
}
.home p span {
    font-size: 0.8em;
    background: #F1F1F1;
    margin-left: 5px;

    text-align: right;
}
.home a {
    clear: both;
    color: #1B1B1B;
    background: #F1F1F1;
    padding: 20px;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    border: #F1F1F1 solid 5px; 
}
.home a:hover {
    clear: both;
    color: #F1F1F1;
    background: #1B1B1B;
    padding: 20px;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    border: #F1F1F1 solid 5px; 
}

.home .scroll {
    display: block;
    z-index: 999999;
}
.home div {
    overflow: hidden;
}
.header_content {
    margin-right: 40px;
}

main {
    width: 1400px;
    margin: 0 auto;
    clear: both;
}
main section {
    border-right:   solid 10px #1B1B1B;
    border-left:    solid 10px #1B1B1B;
    margin-left:    40px;
    margin-right:   40px;
    overflow: hidden;
}
.responsive {
    display: none;
}

main .discover {
    background: url("../img/DSC_7131A.jpg") no-repeat;
    background-position: 100% 0%;
    background-size: auto 90%;
}
main .discover div:nth-child(1), main .template div {
    border-bottom: solid 10px #1B1B1B;
    padding-bottom: 100px;
}
main .template div {
    border-bottom: solid 10px #1B1B1B;
    padding-bottom: 50px;
}
main .create div {
 /*   border-bottom: solid 10px #1B1B1B;*/
  /*  padding-bottom: 50px;*/
}
main .create {
   /* padding-bottom: 100px;*/
}
main .project {
    background: url("../img/cardboard.jpg") no-repeat;
    background-position: 110% 100%;
    background-size: auto 90%;
}
main .create {
    background: url("../img/final.jpg") no-repeat;
    background-position: 100% 100%;
    background-size: auto 90%;
}
main .template img{
    width: 100%;
    margin-top: 30px;
}
/*main section::after{
    clear: both;
    overflow: hidden;
    content : "";
    display: block;
    margin: 0 auto;
    width: 80%;
    border-bottom:  solid 10px #1B1B1B;
}*/


main section div:nth-child(1), .alternative {
    overflow: hidden;
    margin-left:    120px;
    margin-right:   120px;
 
}


main section div h2 {
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 50%;
}
main section div p {
    margin-top: 5px;
    width: 50%;
}
main section div h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}
main section div span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    opacity: .5;
    font-size: 12px;
    text-transform: none;
}
main section a {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    color: #1B1B1B;
    border: solid 5px #1B1B1B;
    padding: 20px;
    width: 200px;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    opacity: 1;
}
main section a:hover {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s; 
    background: #1B1B1B;
    color: #F1F1F1;
    opacity: 1;
}
main section div .launch {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s; 
    background: #1B1B1B;
    color: #F1F1F1;
}
main section div .launch:hover {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s; 
    background: #F1F1F1;
    color: #1B1B1B;
}


main .project a:nth-child(1), main .project a:nth-child(3){
    margin-right: 30px;
}
main section .alternative a {
    margin-right: 0px;
    margin-bottom: 20px;
    float: right;
}
main .create div a {
    margin-top: 30px;
    margin-bottom: 40px;
/*    margin-right: 100px;*/

}
main .create h3 {
    clear: both;
}
main section .alternative p {
    float: left;
}
main .project div div {
    width: 50%;
    overflow: hidden;
}
main .launch {
    margin-top: -150px;
    /*padding-bottom: 50px;*/
}


footer {
    background-color: #1B1B1B;
}
footer p {
  line-height: 50px;
  color: #F1F1F1;
  text-align: center;
  font-weight: 300;
  font-size: .8em;
  margin: 0 auto;
}
footer p a {
  text-decoration: none;
  text-transform: none;
  color: #F1F1F1;
}
footer p a:hover {
  text-decoration: underline;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1400px) {
main {
    width: 100%;
    margin: 0 auto;
}

.home {
    width: 100%;
}
.home div:nth-child(1) {
    margin-left:    40px;
    margin-right:   40px;
}
main .project div div a {
    width: 35%;

}


}

@media only screen and (max-width: 1280px) {

main .discover {
    background-position: 36em 0%;

}
main .project {
    background-position: 36em 100%;
}
main .create {
    background-position: 36em 100%;

} 
}
@media only screen and (max-width: 1200px) {

main .discover {
    background-position: 33em 0%;

}
main .project {
    background-position: 35em 100%;
}
main .create {
    background-position: 35em 100%;

}
main .project div div {
    width: 64%;

}
}

@media only screen and (max-width: 1024px) {

main .discover {
    background: none;

}
.home p {
    width: 100%;
}
.responsive {
    display: block;
    width: 100%;
}
main .project {
    background: none;
}
main .create {
    background: none;
}
main section div h2 {
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
}
main section div p {
    margin-top: 5px;
    width: 100%;
}
main section .alternative p {
    width: 50%;
}
main section div h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
main .project div div {
    display: block;
    position: relative;
    width: 100%;

}
main .project div div a{
    display: block;
    position: relative;
    width: 40%;

}
main section {
    border-right:   none;
    border-left:    none;
    margin-left:    0px;
    margin-right:   0px;
    overflow: hidden;
}
.header_content {
    margin-left: 120px;
    margin-right: 120px;
}

}

@media only screen and (max-width: 1024px) {
main .project div div a{

    width: 100%;

}
main .project a:nth-child(1), main .project a:nth-child(3){
    margin-right: 3%;
}


main .project div div  {
    padding-top: 20px;
margin: 0 auto;

    
}
main .project div div a {

    width: 40%;

    
}
}

@media only screen and (max-width: 840px) {
    main .project div div a {
    float: none;
    width: 80%;
    margin: 30px auto !important;
    
}
main section .alternative p {
    width: 100%;
}
main section .alternative a {
    float: left;
}

}
@media only screen and (max-height: 780px) {
    header {
        height: 100%;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 720px) {

main section div:nth-child(1), .alternative {
    overflow: hidden;
    margin-left:    50px;
    margin-right:   50px;
 
}
#video-background {
    display: none;
}
.header_content {
    margin-left: 50px;
    margin-right: 50px;
}
main .project div div a {
    float: none;
    width: 80%;
    margin: 30px auto !important;
    
}
header {
    height: 100%;
    padding-bottom: 50px;

}
.home h1 {
font-size: 4em;
padding-top: 10px;
}
.home p {
    margin-top: 10px;
}
main h3 {
    font-size: 2.5em !important;
}
main {
    text-align: justify !important;
}
main section .alternative a, main .create div a {
    clear: both;
    float: none;
    display: block;
    width: 80%;
    margin: 0 auto;
}
main .create div a {
  margin-bottom: 20px;
}
}
@media only screen and (max-width: 400px) {

main section div:nth-child(1), .alternative {
    overflow: hidden;
    margin-left:    10px;
    margin-right:   10px;
 
}
.header_content {
    margin-left: 10px;
    margin-right: 10px;
}
}

/* ==========================================================================
   Helper classe5
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
